
<div class="div-body">
    <p>phone-book works!</p>

    <div>
        <input type="text" [(ngModel)]="newName" placeholder="name" >
        <input type="text" [(ngModel)]="newEmail" placeholder="email" >
        <input type="text" [(ngModel)]="newPhoneNumber" placeholder="phone number" >
        <button (click)="addContact()">Add Person to Phone Book</button>
        
    </div>
    
    <div class="table-head" *ngIf="phoneBook.length >0">
        <table>
            <tr >
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let phonebook of phoneBook"  >
                <td><input value="{{phonebook.name}}" [disabled]="phonebook.isEnabled "></td>
                <td><input value="{{phonebook.email}}" [disabled]="phonebook.isEnabled "></td>
                <td><input value="{{phonebook.phoneNumber}}"  [disabled]="phonebook.isEnabled" ></td>
                <td><button (click)="editContact(phonebook.id)">Edit</button></td>
                <td><button (click)="deleteContact(phonebook)">delete</button></td>
            </tr>
        </table>
    </div>
</div>
